<!DOCTYPE html>
<html lang="en">
<!--<script src="vue/vue.js"></script>
<script src="vue/axios.min.js"></script>
<script src="vue/index.js"></script>

<script src="js/bootstrap.js"></script>
<link rel="stylesheet" href="vue/index.css">-->
<script src="js/jquery-1.9.1.js"></script>
<!--先引入vue.js库-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!--axios-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div id="app">
    <el-button @click="findAll">查看所有用户</el-button>

    <a href="#">{{message}}</a><a id="a1" style="display: none" href="/boot/custom/logout">注销</a>
    <el-row>
        <!--登陆表格-->
        <el-form :inline="true" :model="form" v-show="isshow" class="demo-form-inline">

            <el-form-item label="账号：">
                <el-input v-model="form.username" placeholder="请输入账号"></el-input>
            </el-form-item>
            <el-form-item label="密码：">
                <el-input type="password" v-model="form.password" placeholder="请输入密码"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="login">登录</el-button>
            </el-form-item>
            <el-form-item>
                <el-button @click="open">注册</el-button>
            </el-form-item>
        </el-form>
    </el-row>
    <!--注册模态框-->
    <el-dialog title="注册新用户" :visible.sync="dialogFormVisible">
        <el-form :model="form2">

            <!--<el-input v-model="form.empno" type="hidden" autocomplete="off"></el-input>-->

            <el-form-item style="width: 440px;" label="姓名" :label-width="formLabelWidth">
                <el-input v-model="form2.name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item style="width: 440px;" label="年龄" :label-width="formLabelWidth">
                <el-input v-model="form2.age" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item style="width: 440px;" label="账户" :label-width="formLabelWidth">
                <el-input v-model="form2.username" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item style="width: 440px;" label="密码" :label-width="formLabelWidth">
                <el-input v-model="form2.password" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="danger" @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="reg">确 定</el-button>
        </div>
    </el-dialog>
    <!--查看所有弹出框-->
    <el-dialog title="查看所有用户" :visible.sync="dia">
        <el-table
                :data="tableData"
                style="width: 100%">
            <el-table-column
                    prop="id"
                    label="ID"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="名字"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="age"
                    label="年龄">
            </el-table-column>
            <el-table-column
                    prop="username"
                    label="账号">
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button type="primary"

                               @click="handleEdit(scope.$index, scope.row)">编辑
                    </el-button>
                    <el-button

                            type="danger"
                            @click="handleDelete(scope.$index, scope.row)">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[2,3,4,5,10,15,100, 200, 300, 400]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
        </el-pagination>
        <div slot="footer" class="dialog-footer">
            <el-button type="danger" @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="reg">确 定</el-button>
        </div>
    </el-dialog>


    <!--<el-dialog
            title="提示"
            :visible.sync="dialogVisible"
            width="30%"
            :before-close="handleClose">
        <span>这是一段信息</span>
        <span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
  </span>
    </el-dialog>
    <el-button type="text" @click="open">点击打开 Dialog</el-button>-->
</div>

</body>
<script>
    var vue = new Vue({
        el: "#app",
        data: {
            isshow: true,
            message: "请登录",
            form: {
                username: "",
                password: ""
            },
            form2: {
                name: "",
                age: "",
                username: "",
                password: ""
            },
            dialogFormVisible: false,
            formLabelWidth: "150px",
            url: "",
            dia: false,
            tableData: [],
            currentPage:1,
            pageSize:3,
            total:0
        }, methods: {
            login: function () {
                var self = this;

                axios.post("/boot/custom/login", this.form)
                    .then(function (response) {
                        if (response.data.msg == "suc") {
                            self.message = "欢迎您！" + response.data.custom.name;
                            self.url = "/boot/custom/findAll";
                            $("#a1").css("display", "block");
                            this.isshow = !self.isshow;
                        } else {
                            self.message = "信息有误！请重新输入！";
                        }
                    })
            },
            // 显示模态框
            open: function () {
                var self = this;
                self.dialogFormVisible = true;
            },
            //注册
            reg: function () {
                var self = this;
                /*if(form2.name==null||form2.age==""||form2.username==""||form2.password==""){
                    alert("信息填写有误！");
                }*/
                /*if (form2.username==123){
                    alert(123);
                }*/
                axios.post("/boot/custom/reg", this.form2)
                    .then(function (response) {
                        if (response.data == 1) {
                            self.$message({
                                type: 'success',
                                message: '注册成功!'
                            });
                            self.dialogFormVisible = false;
                        } else {
                            self.$message.error('请审查后再点击！');
                        }

                    })
            },
            findAll: function (response) {
                var self = this;
                if (self.url == "") {
                    alert("请先登录!");
                } else {
                    //开始位置  (currentPage-1)*pageSize
                    var start = (this.currentPage-1)*this.pageSize;
                    this.dia = true;
                    axios.post(self.url,{start:start,pageSize:this.pageSize}).then(function (response) {
                        self.tableData = response.data.customList;
                        self.total=response.data.total;

                    })
                }
            }

        }
    });
</script>
</html>